# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Dependências (versão final Flutter)
node_modules/
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Ambiente / segredos
.env
*.local
